/*http://colorschemedesigner.com/#1T61Ta2w0w0w0*/
html{
	background-color: #ffffaf;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 14pt; 
	margin: 1em;
}

div.banner{
	background-color: #D5EEA3;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

}

span.banner{
	color: #ffffaf;
	font-size: 250%;
	font-weight: bolder;
}

h1.banner{
	margin-left: 1em;
	margin-right: 1em;
	display: inline;
	text-decoration: underline;	
}
a.banner{
	float: right;
	margin-right: 2em;
	margin-top: 1em;
}

/*Index Specific Stylings but may be used somewhere else.*/
a.appButton{
	height: 50px;
	line-height: 50px;
	/* Height and line height are the same so we get vertical align*/
	display: block;
	text-align: center;
	margin: 2em;
	padding: 1em;
	vertical-align: middle;	
	box-shadow: 5px 5px 5px #888888;
}
a.appButton:hover{
	text-indent: 3em;
}

ul.applist{
	list-style-type: none;
}
ul.applist li{
	display: inline-block;
	width: 33%;
	
	min-height: 300px;
	margin: 3em;
	text-align: center;
	background-color: #EFF7CC;
}