.boxes li{
	list-style-type: none;
	display: inline-block;
	width: 40%;
	vertical-align: top;
	opacity: .8;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
    border-radius: .25em;
    padding: .25em;
    min-height: 150px;
    text-align: left;
}
.boxes li:hover{
	background-color: #aaaaaa;
	opacity: 1;
}
.boxes li h3 {
	text-align: center;	
}
ul.boxes{
	margin: auto;
	margin-top: 1em;
	vertical-align: top;

}
.centerMe{
	text-align: center;
	margin: auto;
}