<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    {% include "globalStyles.html" %}
     <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41596225-1', 'suite-house.appspot.com');
      ga('send', 'pageview');
      </script> -->
      <link rel="stylesheet" href="/stylesheets/finance.css" type="text/css">
  </head>
  <body>
      <header>
        <h1><span>P&amp;E</span>Suite House</h1>   
        <h2>Your personal house management system</h2>
        <span class="loggedIn">You are logged in as {{username}} <br/><a href="/" style="display:inline;">Return to main menu</a></span>
      </header>


      <section>
        <div>
          <p>
            Enter your items here
          </p>
          <form action="/finance/checkbook" method="POST">
            <input type="text" name="description" />
            <input type="number" step="0.01" min="0" name="amount" />
            <input type="submit" value="submit" />
          </form>
        </div>
          

        <div>
          <table>
            <thead>
              <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr class="{{ loop.cycle('alt', '') }}" ref="{{item.key()}}">
                <td>{{item.description}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.date}}</td>
                <td ><a class="deleteButton" ref="{{item.key()}}">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <script type="text/javascript">
        //Bind the delete buttons to submit the delete request to the server as well as remove the row from here (no undo)
        var buttons = document.getElementsByClassName('deleteButton');
        for (var i = buttons.length - 1; i >= 0; i--) {
          buttons[i].onclick = function(){
            //Confirm:
            //if(confirm('Are you sure you want to remove this item? -- This cannot be undone --')){
              var xmlHttp = new XMLHttpRequest();
              xmlHttp.onreadystatechange = function(xmlHttp){
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                  console.log('submission worked');
                }
              }
              xmlHttp.open('DELETE','/finance/checkbook',true);
              var data = new FormData();
              data.append('key',this.attributes.ref.nodeValue);
              xmlHttp.send(data);
            //}
          };
        };
        
      </script>

        
  </body>
</html>
{% endautoescape %}